

h1{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 75px;
  text-align:center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h2{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 25px;
  text-align:center; 
  padding-top: 0px;
  margin-top: 0px;
}

h3{

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 50px;
  text-align:center; 
  padding-top: 0px;
  margin-top: 0px;

}

.container{
  nav li{
    display:inline-block;
  }
}
    




















a{
    display: inline-block;
    font-family: Roboto, sans-serif;
    color: #ffffff;
    background-color: #636B2F;
    text-decoration: none;
    padding: 20px;






}